<!-- Content Row -->
<div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
      <!-- Project Card Example -->
      <%= render partial: 'templates/cards/proyectos' %>
      <!-- Color System -->
      <%= render partial: 'templates/cards/colores' %>
    </div>
  
    <div class="col-lg-6 mb-4">
      <!-- Illustrations -->
      <%= render partial: 'templates/cards/ilustraciones' %>
      <!-- Approach -->
      <%= render partial: 'templates/cards/acerca' %>
    </div>
  </div>