<h1>Editing Persona Empresa Formulario</h1>

<%= render 'form', persona_empresa_formulario: @persona_empresa_formulario %>

<%= link_to 'Show', @persona_empresa_formulario %> |
<%= link_to 'Back', persona_empresa_formularios_path %>
