<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCatalogos"
     aria-expanded="true" aria-controls="collapseCatalogos">
    <i class="fas fa-fw fa-cog"></i>
    <span>Catálogos</span>
  </a>
  <div id="collapseCatalogos" class="collapse" aria-labelledby="headingCatalogos"
       data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Opciones del Menú:</h6>
      <h6 class="collapse-header">Etapas:</h6>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Etapa Documento</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Etapa Solicitud</span></a>
      <h6 class="collapse-header">Estados:</h6>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Estado Documento</span></a>
      <h6 class="collapse-header">Tipos:</h6>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Tipo Documento</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Tipo Proceso</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Tipo Sistema</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Tipo Usuario</span></a>
      <h6 class="collapse-header">Otros:</h6>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Macro Proceso</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Proceso</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Sub-Proceso</span></a>
    </div>
  </div>
</li>