<!-- Nav Item - Documentos Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDocumentos"
     aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-clipboard-list"></i>
    <span>Gestión de Documentos</span>
  </a>
  <div id="collapseDocumentos" class="collapse" aria-labelledby="headingDocumentos" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Documentos:</h6>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Documentos</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-building"></i><span>Historial Documentos</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-sitemap"></i><span>Solicitud de Cambio</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-sitemap"></i><span>Seguimiento Solicitud</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-comments"></i><span>Comentarios</span></a>
    </div>
  </div>
</li>