<!-- Nav Item - Components Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOpciones"
     aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Gestión de opciones</span>
  </a>
  <div id="collapseOpciones" class="collapse" aria-labelledby="headingOpciones" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Opciones:</h6>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Usuarios</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-building"></i><span>Empresas</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-sitemap"></i><span>Areas - Empresa</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-users"></i><span>Usuario - Area</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-user-tag"></i><span>Rol</span></a>
      <a class="collapse-item" href="#"><i class="fab fa-elementor"></i><span>Menú</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-minus-square"></i><span>Opción - Menú</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-user-cog"></i><span>Menú - Rol</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-atom"></i><span>Atributos</span></a>
      <a class="collapse-item" href="#"><i class="fab fa-codepen"></i><span>Componente</span></a>
      <h6 class="collapse-header">Permisos:</h6>
      <a class="collapse-item" href="#"><i class="fas fa-clipboard-list"></i><span>Permisos de Formulario</span></a>
      <a class="collapse-item" href="#"><i class="fas fa-key"></i><span>Permisos de Usuario</span></a>
    </div>
  </div>
</li>